@using CommonMarket.Web.Models
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    var manager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));
    var currentUser = manager.FindById(User.Identity.GetUserId());

    var level = currentUser.UserProfile.Address2; //special consideration on temperory basis

    var profileId = currentUser.UserProfile.Id;



}
<link href="~/Content/Styles/datepicker.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-datepicker.js"></script>

<style>
    .panel-default > .panel-heading {
        background-image: linear-gradient(to bottom, #F8B688 0%, #F38C59 100%);
    }

    .modal-body {
        max-height: 650px;
    }

    .regular_weight {
        font-weight: normal;
    }
    .datepicker{z-index:1151 !important;}
</style>

<div class="container">
    <div class="row">
        <!-- Side Panel -->
        <div class="col-md-3">
            <div class="panel-group" id="accordion">

                <div style="margin-top: 35px;">
                    <img src="@Url.Content(@currentUser.UserProfile.AvatarImgUrl)" width="50" height="50" title="@currentUser.UserProfile.FirstName" style="float: left;" />
                    <div style="position: relative; left: 15px;">
                        <h5><a href="#">@currentUser.UserProfile.FirstName @currentUser.UserProfile.LastName</a></h5>
                        <span><a href="#">@currentUser.UserProfile.Email</a></span>
                    </div>
                </div>

                <div class="panel panel-default" style="margin-top: 25px;">
                    <div class="panel-heading">
                        <h4 class="panel-title regular_weight">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                <span class="glyphicon glyphicon-grain" style="color: #373794;">
                                </span>&nbsp; Operations
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-dashboard text-primary"></span><a id="f_show" href="#" style="font-weight: bold"> Dashboard</a>

                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-gift text-primary"></span><a id="p_show" href="#"> Products</a>
                                        <span class="badge"><span id="product_count" class="badge"></span></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-flash text-info"></span><a id="d_show" href="#"> Discounts & Coupons</a>
                                        <span class="badge"><span id="discount_count" class="badge">0</span></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-blackboard text-success"></span><a href="http://www.jquery2dotnet.com"> Marketing & Promotion</a>
                                    </td>
                                </tr>
                                
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-fire text-success"></span><a href="http://www.jquery2dotnet.com"> Tax and Fee</a>
                                        @*<span class="badge">42</span>*@
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div><!-- End of CollapseOne-->
                </div>
                
                <div class="panel panel-default" style="margin-top: 0;">
                    <div class=" panel-heading">
                        <h4 class="panel-title regular_weight">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                                <span class="glyphicon glyphicon-shopping-cart">
                                </span>&nbsp; Order Processing
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-shopping-cart text-primary"></span><a id="order" href="#"> Order Fullfillment</a> <span class="label label-success" id="order_ct">25</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-file text-primary"></span><a href="http://www.jquery2dotnet.com"> Customer Invoices & Payments</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-send text-primary"></span><a href="http://www.jquery2dotnet.com"> Shipments and Tracking</a>
                                    </td>
                                </tr>
                                @*<tr>
                            <td>
                                <a href="http://www.jquery2dotnet.com">Tex</a>
                            </td>
                        </tr>*@
                            </table>
                        </div>
                    </div><!-- End of CollapseTwo-->


                </div>
                
                
                <div class="panel panel-default" style="margin-top: 0;">
                    <div class=" panel-heading">
                        <h4 class="panel-title regular_weight">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                <span class="glyphicon glyphicon-book">
                                </span>&nbsp; BackOffice Management
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-export text-primary"></span><a id="back_office" href="#"> Bills & Fee Payment</a> <span class="label label-success" id="order_ct">25</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-file text-primary"></span><a href="http://www.jquery2dotnet.com"> Invoices and Payments</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-send text-primary"></span><a href="http://www.jquery2dotnet.com"> Shipments and Tracking</a>
                                    </td>
                                </tr>
                                @*<tr>
                            <td>
                                <a href="http://www.jquery2dotnet.com">Tex</a>
                            </td>
                        </tr>*@
                            </table>
                        </div>
                    </div><!-- End of CollapseTwo-->


                </div>


                

                <div class="panel panel-default " style="margin-top: 0;">
                    <div class="panel-heading">
                        <h4 class="panel-title regular_weight">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                <span class="glyphicon glyphicon-user">
                                </span>&nbsp; Customer Services
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com"> Change Password</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com"> Notifications</a> <span class="label label-info">5</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com"> Import/Export</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-trash text-danger"></span><a href="http://www.jquery2dotnet.com" class="text-danger">
                                            Delete Account
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default " style="margin-top: 0;">
                    <div class="panel-heading">
                        <h4 class="panel-title regular_weight">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                                <span class="glyphicon glyphicon-signal">
                                </span>&nbsp; Reporting
                            </a>
                        </h4>
                    </div>
                    <div id="collapseSix" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com"> Change Password</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com"> Notifications</a> <span class="label label-info">5</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com"> Import/Export</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-trash text-danger"></span><a href="http://www.jquery2dotnet.com" class="text-danger">
                                            Delete Account
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Content Panel -->
        <div class="col-md-9">
            <div id="content" style="margin-top:25px;">

                <div class="profile-title" style="margin-top: 30px;"><i class="icon-cog"></i> Business Manager </div>
                <span>
                    Manage the products, orders, customers and viwe your business and financial reports.
                </span>

                <div class="" style="margin-top: -10px;">

                    <div id="front">

                        <div class="row">
                            <div class="col-lg-12" style="overflow: hidden; margin-left: 18px; margin-top: 5px;">
                                <h4 class="page-header" style=" margin-bottom: 0;">
                                    Manager's Desk <small>Statistics Overview</small>
                                </h4>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3 col-sm-6" style="margin-left: 18px; margin-right: -10px">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <i class="fa fa-briefcase fa-5x" style="margin-left:5px;"></i>
                                            </div>
                                            <div class="col-xs-9 text-right">
                                                <div class="huge"><span id="p_count2" style="font-weight: bold;"></span></div>
                                                <div>Products</div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#">
                                        <div class="panel-footer" style="background-color: #431E0C;">
                                            <span class="pull-left">View Details</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6" style="margin-right: -10px;">
                                <div class="panel panel-warning">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <i class="fa fa-user fa-5x" style="margin-left:5px;"></i>
                                            </div>
                                            <div class="col-xs-9 text-right">
                                                <div class="huge">12</div>
                                                <div>Customers</div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#">
                                        <div class="panel-footer" style="background-color: #d53708;">
                                            <span class="pull-left" style="color: #f0fff0;">View Details</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right" style="margin-left:5px;"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6" style="margin-right: -10px;">
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <i class="fa fa-shopping-cart fa-5x"></i>
                                            </div>
                                            <div class="col-xs-9 text-right">
                                                <div class="huge"><span id="order_ct2"></span></div>
                                                <div>Orders</div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#">
                                        <div class="panel-footer" style="background-color: #ffd800;">
                                            <span class="pull-left" style="color:#333">View Details</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6" style="margin-right: -10px;">
                                <div class="panel panel-danger">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <i class="fa fa-support fa-5x" style="margin-left:5px;"></i>
                                            </div>
                                            <div class="col-xs-9 text-right">
                                                <div class="huge">13</div>
                                                <div>Community</div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#">
                                        <div class="panel-footer" style="background-color: #373794;">
                                            <span class="pull-left" style="color:#fff;">View Details</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-4" style="margin-left: 15px; margin-right: -10px;">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i> Donut Chart</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div id="morris-donut-chart"></div>
                                        <div class="text-right">
                                            <a href="#">View Details <i class="fa fa-arrow-circle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4" style="margin-right: -10px;">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Tasks Panel</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="list-group">
                                            <a href="#" class="list-group-item">
                                                <span class="badge">just now</span>
                                                <i class="fa fa-fw fa-calendar"></i> Calendar updated
                                            </a>
                                            <a href="#" class="list-group-item">
                                                <span class="badge">4 minutes ago</span>
                                                <i class="fa fa-fw fa-comment"></i> Commented on a post
                                            </a>
                                            <a href="#" class="list-group-item">
                                                <span class="badge">23 minutes ago</span>
                                                <i class="fa fa-fw fa-truck"></i> Order 392 shipped
                                            </a>
                                            <a href="#" class="list-group-item">
                                                <span class="badge">46 minutes ago</span>
                                                <i class="fa fa-fw fa-money"></i> Invoice 653 has been paid
                                            </a>
                                            <a href="#" class="list-group-item">
                                                <span class="badge">1 hour ago</span>
                                                <i class="fa fa-fw fa-user"></i> A new user has been added
                                            </a>
                                            <a href="#" class="list-group-item">
                                                <span class="badge">2 hours ago</span>
                                                <i class="fa fa-fw fa-check"></i> Completed task: "pick up dry cleaning"
                                            </a>
                                            <a href="#" class="list-group-item">
                                                <span class="badge">yesterday</span>
                                                <i class="fa fa-fw fa-globe"></i> Saved the world
                                            </a>
                                            <a href="#" class="list-group-item">
                                                <span class="badge">two days ago</span>
                                                <i class="fa fa-fw fa-check"></i> Completed task: "fix error on sales page"
                                            </a>
                                        </div>
                                        <div class="text-right">
                                            <a href="#">View All Activity <i class="fa fa-arrow-circle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4" style="margin-right: -10px;">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Transactions Panel</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-hover table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Order #</th>
                                                        <th>Order Date</th>
                                                        <th>Order Time</th>
                                                        <th>Amount (USD)</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>3326</td>
                                                        <td>10/21/2013</td>
                                                        <td>3:29 PM</td>
                                                        <td>$321.33</td>
                                                    </tr>
                                                    <tr>
                                                        <td>3325</td>
                                                        <td>10/21/2013</td>
                                                        <td>3:20 PM</td>
                                                        <td>$234.34</td>
                                                    </tr>
                                                    <tr>
                                                        <td>3324</td>
                                                        <td>10/21/2013</td>
                                                        <td>3:03 PM</td>
                                                        <td>$724.17</td>
                                                    </tr>
                                                    <tr>
                                                        <td>3323</td>
                                                        <td>10/21/2013</td>
                                                        <td>3:00 PM</td>
                                                        <td>$23.71</td>
                                                    </tr>
                                                    <tr>
                                                        <td>3322</td>
                                                        <td>10/21/2013</td>
                                                        <td>2:49 PM</td>
                                                        <td>$8345.23</td>
                                                    </tr>
                                                    <tr>
                                                        <td>3321</td>
                                                        <td>10/21/2013</td>
                                                        <td>2:23 PM</td>
                                                        <td>$245.12</td>
                                                    </tr>
                                                    <tr>
                                                        <td>3320</td>
                                                        <td>10/21/2013</td>
                                                        <td>2:15 PM</td>
                                                        <td>$5663.54</td>
                                                    </tr>
                                                    <tr>
                                                        <td>3319</td>
                                                        <td>10/21/2013</td>
                                                        <td>2:13 PM</td>
                                                        <td>$943.45</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="text-right">
                                            <a href="#">View All Transactions <i class="fa fa-arrow-circle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                    <div id="product" style="display: none; margin-top: 19px;">@Html.Action("GetProductList")</div>


                    <div id="discount" style="display: none; margin-top: 19px;">@Html.Partial("_DiscountPromotion")</div>

                    <div id="inventory"></div>

                    <div id="order_processing" style="display: none; margin-top: 19px;">@Html.Action("GetAllOrders")</div>
                    
                    <div id="back" style="display: none; margin-top: 19px;">
                        @Html.Action("GetAllBills")
                    </div>

                </div>
            </div>

        </div>



        <!-- Modal Dialogs - ADD Product -->
        <div class="modal " id="add" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true" style="overflow: visible; height: 200px;">
            <div class="modal-dialog" style=" margin-top: 0;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                        <h4 class="modal-title custom_align" id="Heading"><span class="glyphicon glyphicon-plus-sign" style="color:#239C23"></span> Add New Product</h4>
                    </div>
                    <div class="modal-body" @*style="overflow: visible;"*@>
                        <div class="form-group">
                            <input id="pro_name" class="form-control" type="text" placeholder=" Product Name" style="height: 35px; margin-bottom: -5px;" autofocus="">
                        </div>
                        <!--
                            <div class="form-group">
                                <input id="pro_vId" class="form-control" type="text" placeholder="Vendor Product ID -- Optional" style="height: 35px; margin-bottom: -5px;" >
                            </div>
                            <div class="form-group">
                                <input id="pro_sku" class="form-control" type="text" placeholder="Product SKU Nubmer -- Optional" style="height: 35px; margin-bottom: -5px;" >
                            </div>
                        -->
                        <div class="form-group">
                            <select id="all_category" style="margin-bottom: -5px;">
                                <option aria-valuemax="0">--Select Major Cateegory</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <textarea id="pro_desc" rows="2" class="form-control" placeholder=" Description - Short" style="margin-bottom: -5px;"></textarea>
                        </div>

                        <div class="form-group">
                            <textarea id="pro_desc2" rows="2" class="form-control" placeholder=" Description - Long" style="margin-bottom: -5px;"></textarea>
                        </div>

                        <div class="form-group">
                            <select id="prod_unit" style="margin-bottom: -5px;">
                                <option>-- Select Unit Name --</option>
                                <option>lb</option>
                                <option>kg</option>
                                <option>Case</option>
                                <option>Package</option>
                                <option>Each</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input id="prod_price" class="form-control" type="text" placeholder="Unit Price" style="height: 35px; margin-bottom: -5px;">
                        </div>
                        <div class="form-group">
                            <input id="qty_perUnit" class="form-control" type="text" placeholder="Quantity per Unit if unit name is Case or Package" style="height: 35px; margin-bottom: -5px;">
                        </div>
                        <!--<div class="form-group">
                            <input id="unit_inStock" class="form-control" type="text" placeholder="Units In Stock" style="height: 35px; margin-bottom: -5px;">
                        </div>-->
                        <div class="form-group">
                            <input id="availabe" type="checkbox" checked="checked" style="vertical-align: baseline;"> &nbsp;Available
                        </div>
                        <div class="form-group">
                            <textarea id="pro_notes" rows="2" class="form-control" placeholder="Additional Notes" style="margin-bottom: -5px;"></textarea>
                        </div>

                    </div>
                    <div class="modal-footer ">
                        <button id="go_add" type="button" class="btn btn-warning"><span class="glyphicon glyphicon-ok-sign"></span> Add</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
        </div>

        <!-- Modal Dialogs - ADD Discount -->
        <div class="modal " id="add_dis" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true" style="overflow: visible; height: 200px;">
            <div class="modal-dialog" style="margin-top: 0;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                        <h4 class="modal-title custom_align" id="Heading"><span class="glyphicon glyphicon-plus-sign" style="color:#239C23"></span> Add New Discount or Promotion</h4>
                    </div>
                    <div class="modal-body" @*style="overflow: visible;"*@>
                        <div class="form-group">
                            <select id="all_type" style="margin-bottom: -5px;">
                                <option value="0">--Select Discount Type</option>
                            </select>
                        </div>
<!--
                        <div class="form-group">
                            <input id="disc_code" class="form-control" type="text" placeholder="Discount Code" style="height: 35px; margin-bottom: -5px; width: 15.8em; margin-right: 15px;" title="Discount Code">
                            <span><input id="auto" type="checkbox" style="vertical-align: baseline; margin-right: 5px;" /> Auto Generate</span>
                        </div>
                        
                            <div class="form-group">
                                <input id="pro_vId" class="form-control" type="text" placeholder="Vendor Product ID -- Optional" style="height: 35px; margin-bottom: -5px;" >
                            </div>
                            <div class="form-group">
                                <input id="pro_sku" class="form-control" type="text" placeholder="Product SKU Nubmer -- Optional" style="height: 35px; margin-bottom: -5px;" >
                            </div>
                            -->


                        <div class="form-group">
                            <textarea id="disc_desc" rows="2" class="form-control" placeholder=" Description" style="margin-bottom: -5px;"></textarea>
                        </div>

                        <div class="form-group">
                            <select id="d_type" style="margin-bottom: -5px;">
                                <option>-- Select Value Type --</option>
                                <option value="0">Percent</option>
                                <option value="1">Amount</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input id="d_value" class="form-control" type="text" placeholder="Discount Value" style="height: 35px; margin-bottom: -5px;">
                        </div>
                        <div class="form-group">
                            <input id="d_volume" class="form-control" type="text" placeholder="Minimum Purchase Value" style="height: 35px; margin-bottom: -5px;">
                        </div>
                        <label style="font-weight: bold;">Effective Period</label>
                        
                        <div style="margin-left: 0;" data-date="" data-date-format="dd-mm-yyyy">
                            START: <input id="from" type="text" style="height: 33px; vertical-align: baseline;" value="@DateTime.Now.ToShortDateString()" /><span><i class="icon-th" style="font-size: 1em; padding: 10px; background-color: #E1E1E1;"></i></span>
                        </div>
                        
                        <div style="margin-left: 0;" data-date="" data-date-format="dd-mm-yyyy">
                            END: &nbsp; &nbsp;<input id="to" type="text" style="height: 33px; vertical-align: baseline; margin-left: 5px;" value="@DateTime.Now.ToShortDateString()" /><span><i class="icon-th" style="font-size: 1em; padding: 10px; background-color: #E1E1E1;"></i></span>
                        </div>
                       
                        @*<div class="form-group">
                            <input id="active" type="checkbox" checked="checked" style="vertical-align: baseline;"> &nbsp;Active
                        </div>*@
                        <div class="form-group">
                            <textarea id="d_notes" rows="2" class="form-control" placeholder="Additional Notes" style="margin-bottom: -5px;"></textarea>
                        </div>

                    </div>
                    <div class="modal-footer ">
                        <button id="d_add" type="button" class="btn btn-warning"><span class="glyphicon glyphicon-ok-sign"></span> Create</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
        </div>
    </div>
</div>


<!-- Script Section -->

<script type="text/javascript">
    $(document).ready(function () {

        //Date picker
        //
        //$("#from").datepicker();



        $("#product").hide();
        //$("#front").show();
        $("#discount").hide();
        $("#order_processing").hide();
        //$("#content_da").hide();
        //$("#pf").addClass("profile-active-button");

        $("#p_show").click(function () {
            $("#product").show();
            $("#front").hide();
            $("#discount").hide();
            $("#order_processing").hide();
            $("#back").hide();
        });
        //$("#cover").click(function () {
        //    $("#product").hide();
        //    $("#cover").show();
        //    $("#discount").hide();
        //    $("#order_processing").hide();
        //});

        $("#d_show").click(function () {
            $("#product").hide();
            $("#front").hide();
            $("#discount").show();
            $("#order_processing").hide();
            $("#back").hide();
        });


        $("#order").click(function () {
            $("#product").hide();
            $("#front").hide();
            $("#discount").hide();
            $("#order_processing").show();
            $("#back").hide();
        });

        $("#f_show").click(function () {
            $("#product").hide();
            $("#front").show();
            $("#discount").hide();
            $("#order_processing").hide();
            $("#back").hide();
        });





        $("#back_office").click(function () {
            $("#product").hide();
            $("#front").hide();
            $("#discount").hide();
            $("#order_processing").hide();
            $("#back").show();
        });
    });
</script>


<script type="text/javascript">
    $(document).ready(function () {
        $("#toEdit").click(function () {
            $("#edit").show();
            $("#details").hide();
        });

        $("#toSave").click(function () {
            $("#edit").hide();
            $("#details").show();
        });

        $("#toCancel").click(function () {
            $("#edit").hide();
            $("#details").show();
        });


        var p_count = $("#p_count").val();
        $("#product_count").text(p_count);
        $("#p_count2").text(p_count);

        var o_count = $("#o_count").val();
        $("#order_ct2").text(o_count);
        $("#order_ct").text(o_count);


    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#chgpass").click(function () {
            alert("clicked!");
            var oldp = $("#oldpass").val();
            var newp = $("#newpass").val();
            var newp2 = $("#newpass2").val();

            if (newp == newp2) {

                $.ajax({
                    type: "POST",
                    url: "/Manage/PasswordChange",
                    data: "oldPass=" + oldp + "&newPass=" + newp,
                    contenType: "",
                    dataType: "json",
                    success: Suceeded

                });

                function Suceeded(data) {

                    $('#msg').html(data);
                    $('#err').html("");

                    $('#oldp').val("");
                    $('#newp').val("");
                    $('#newp2').val("");

                    $('#msg').delay(5000).fadeOut(400);

                    return false;
                }
            }
            else {
                $('#err').html("The password does not match!");

            }

            return false;
        });

    });
</script>


<script type="text/javascript">
    $(document).ready(function () {

        $("#instruction-chgpass").show();
        $("#instruction-otehrs").hide();


        $("#toSettings").click(function () {
            $("#instruction-chgpass").hide();
            $("#instruction-otehrs").show();
        });

        $("#toChange").click(function () {
            $("#instruction-otehrs").hide();
            $("#instruction-chgpass").show();
        });

    });
</script>

@*<script type="text/javascript">
        $('input[type=file]').bootstrapFileInput();
        $('.file-inputs').bootstrapFileInput();
    </script>*@



<script type="text/javascript">
    $(document).ready(function () {
        $("#cover").hide();
        $("#inventory").hide();
    });
</script>

<!-- populate category dropdown box -->
<script type="text/javascript">
    $(document).ready(function () {
        //debugger;
        var url = "/Product/GetGategoryList";
        var option = $('<option />');

        $.getJSON(url, function (data) {

            //$("#all_category").empty();

            $.each(data, function (i) {
                $("#all_category").append($("<option />").val(data[i].Id).html(data[i].ProductCategoryName));
            });


        });

    });
</script>

<!-- populate diccount type dropdown box -->
<script type="text/javascript">
    $(document).ready(function () {
        var url = "/Product/DiscountTypeList";
        var option = $('<option />');

        $.getJSON(url, function (data) {

            //$("#all_category").empty();

            $.each(data, function (i) {
                $("#all_type").append($("<option />").val(data[i].Id).html(data[i].DiscountTypeName));
            });


        });

    });
</script>




<!-- Add Product -->
<script type="text/javascript">
    $(document).ready(function () {

        $("#go_add").click(function () {
            //debugger;

            var product = {
                ProductName: $("#pro_name").val(),
                ProductDescShort: $("#pro_desc").val(),
                ProductDescLong: $("#pro_desc2").val(),
                UnitName: $("#prod_unit option:selected").text(),
                UnitPrice: $("#prod_price").val(),
                QuantityPerUnit: $("#qty_perUnit").val(),
                Notes: $("#pro_notes").val(),
                ProductAvailable: $('#availabe').prop('checked')
            };

            var category = {
                Id: $("#all_category").val(),
                DepartmentId: 1,
                ProductCategoryName: $("#all_category option:selected").text()
            };


            $.ajax({
                url: '/Product/AddProduct',
                type: 'post',
                dataType: 'json',
                // It is important to set the content type
                // request header to application/json because
                // that's how the client will send the request
                contentType: 'application/json',
                data: JSON.stringify({ product: product, category: category }),
                cache: false,
                success: function (data) {
                    //alert("All good
                    $('#msg').html(data);
                    $('#msg').delay(5000).fadeOut(400);


                    //debugger;
                    var url = "/Operate/ListProducts";
                    $.get(url, function (data) {
                        $("#product").html(data);
                        return false;
                    });

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    //alert(thrownError);
                    //debugger; this part will be fixed when the jquery error "unexpected end of input: is resolved
                    var url = "/Operate/ListProducts";
                    $.get(url, function (data) {
                        $("#product").html(data);
                        return false;
                    });
                }
            });

            $('#add').modal('hide'); //close the modal
        });


    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#from").datepicker().on('changeDate', function (e) {
            var date = $("#from").val();
            //alert(date);
            $("#from").datepicker('hide');
           
        });

        $("#to").datepicker().on('changeDate', function (e) {
            //var date = $("#from").val();
            //alert(date);
            $("#to").datepicker('hide');

        });
        

    })
</script>

<!-- Add Discount -->
<script type="text/javascript">
    $(document).ready(function () {

        $("#d_add").click(function () {

            var discountData = {
                Description: $("#disc_desc").val(),
                DiscountTypeId: $("#all_type").val(),
                DiscountValue: $("#d_value").val(),
                ValueType: $("#d_type").val(),
                Notes: $("#d_notes").val(),
                StartDate: $("#from").val(),
                EndDate: $("#to").val()
            };

            $.ajax({
                url: '/Marketing/AddDiscount',
                type: 'post',
                dataType: 'json',
                // It is important to set the content type
                // request header to application/json because
                // that's how the client will send the request
                contentType: 'application/json',
                data: JSON.stringify({ discount: discountData }),
                cache: false,
                success: function (data) {

                    //var q = "id=" + sId;

                    var url = "/Marketing/ListAllDiscountsBySupplier";
                    $.get(url, function (resp) {
                        $("#disct").html(resp);
                        return false;
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    //alert(thrownError);
                    //debugger; this part will be fixed when the jquery error "unexpected end of input: is resolved
                    //var q = "id=" + sId;

                    var url = "/Marketing/ListAllDiscountsBySupplier";
                    $.get(url, function (data) {
                        $("#disct").html(data);
                        return false;
                    });
                }
            });

            $('#add_dis').modal('hide');
        });


    });
</script>


