@model CommonMarket.Core.Entities.Customer
    
<table class="table table-user-information">
    <tbody>
        <tr>
            <td>Alias:</td>
            <td>
                <input id="c_alias" type="text" class="form-control" placeholder="Full Name" style="height: 35px; margin-bottom: -2px; margin-top: -5px;" value="@Html.DisplayFor(model=>model.CustomerAlias)" autofocus="" />
            </td>
        </tr>
        <tr>
            <td>Shipping Address::</td>
            <td>
                <textarea id="c_shipping" class="form-control" placeholder="Shipping Address" style="height: 35px; margin-bottom: -2px; margin-top: -5px; height: 40px;" >@Html.DisplayFor(model => model.ShippingAddress)</textarea>
            </td>
        </tr>
        <tr>
            <td>Billing Address::</td>
            <td>
                <textarea id="c_billing" class="form-control" placeholder="Billing Address" style="height: 35px; margin-bottom: -2px; margin-top: -5px; height: 40px;">@Html.DisplayFor(model => model.ShippingAddress)</textarea>
            </td>
        </tr>
        <tr>
            <td>Contact Telephone:</td>
            <td>
                <input id="c_tel" type="text" class="form-control" placeholder="Contact Telepone" style="height: 35px; margin-bottom: -2px; margin-top: -5px;" value="@Html.DisplayFor(model=>model.ContactTel)" />
            </td>
        </tr>
        <tr>
            <td>Contact Email:</td>
            <td>
                <input id="c_email" type="text" class="form-control" placeholder="Contact Email" style="height: 35px; margin-bottom: -2px; margin-top: -5px;" value="@Html.DisplayFor(model=>model.ContactEmail)" />
            </td>
        </tr>

    </tbody>
</table>
