@model CommonMarket.Web.Models.IndexViewModel
@{
    ViewBag.Title = "Manage your account";
}

@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.EntityFramework;
@using CommonMarket.Web.Models;


<h2>@ViewBag.Title.</h2>
<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    <div class="col-md-8">
        <p>
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Pick a password", "SetPassword")
            }
        </p>
        <p>
            Phone Number: @(Model.PhoneNumber ?? "None") [
            @if (Model.PhoneNumber != null)
            {
                @Html.ActionLink("Change", "AddPhoneNumber")
                @: &nbsp;|&nbsp;
                @Html.ActionLink("Remove", "RemovePhoneNumber")
            }
            else
            {
                @Html.ActionLink("Add", "AddPhoneNumber")
            }
            ]
        </p>
        <p>
            External Logins: @Model.Logins.Count
            @Html.ActionLink("[Manage]", "ManageLogins")
        </p>
        @if (Model.TwoFactor)
        {
            <form method="post" action="/Manage/DisableTFA">
                <p>
                    Two factor is currently enabled:
                    <input type="submit" value="Disable" class="btn btn-default"/>
                </p>
            </form>
        }
        else
        {
            <form method="post" action="/Manage/EnableTFA">
                <p>
                    Two factor is currently disabled:
                    <input type="submit" value="Enable" class="btn btn-default"/>
                </p>
            </form>
        }
        @if (Model.BrowserRemembered)
        {
            <form method="post" action="/Manage/ForgetBrowser">
                <p>
                    Browser is curently remembered for two factor:
                    <input type="submit" value="Forget Browser" class="btn btn-default" />
                </p>
            </form>
        }
        else
        {
            <form method="post" action="/Manage/RememberBrowser">
                <p>
                    Browser is curently not remembered for two factor:
                    <input type="submit" value="Remember Browser" class="btn btn-default"/>
                </p>
            </form>
        }
    </div>
</div>


<div class="row">
    <div class="col-md-8">
        <h3>Profile</h3>
        <div>
           @{
               if (Request.IsAuthenticated)
               {
                   var manager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));
                   var currentUser = manager.FindById(User.Identity.GetUserId());

                   //if(currentUser.UserProfile. ! = )
                   //{
                    <p>@currentUser.UserProfile.Email</p>
                    <p>@currentUser.UserProfile.FirstName @currentUser.UserProfile.LastName</p>

                    <p>@currentUser.UserProfile.Address1 </p>
                    <p>@currentUser.UserProfile.City</p>
                    <p>@currentUser.UserProfile.ProvState</p>
                    <p>@currentUser.UserProfile.PostZipCode</p>
                    <p>@currentUser.UserProfile.Country</p>
                   <p>@currentUser.UserProfile.Telephone</p>
               
               <img src="@currentUser.UserProfile.AvatarImgUrl" title="@User.Identity.Name"/>
               
                   }
                   @*else
                   {
                    <div class="btn btn-default">Create Your Profile </div>
                   }*@
               }

        </div>
</div>
</div>