@model CommonMarket.Core.Entities.Cart


<style>
    .list-group-item {
        margin-left: -40px;
        margin-right: -15px;
    }
    .row {
        margin-left: 0;
    }
</style>



<div class="well" style="max-height: 190px; overflow: auto; margin-left: -10px; margin-right: -10px; margin-top: -10px;">
    <ul class="list-group checked-list-box" style="margin-top: -20px;">
        @foreach (var item in Model.CartItems)
        {
            <li class="list-group-item">
                <div class="row toggle" data-toggle="de_@item.Id">@item.Product.ProductName @item.Quantity @item.Product.UnitName.ToLower(), subtotal:  @((@item.Quantity * @item.Product.UnitPrice).ToString("c") )<span style="float: right; cursor: pointer; margin-right: 5px;" title="Details"><span id="symbo"><i class="fa fa-chevron-down pull-right"></i></span><span id="symbo2"><i class="fa fa-chevron-up pull-right" style="display: none"></i></span></span></div>
                <div class="divider"></div>
                <div id="de_@item.Id" style="font-size:.8em; display: none;">
                    <img src="@Url.Content(@item.Product.ProductImgSmallUrl)" height="32" width="32" style="float: left; margin-right: 10px; margin-top: 5px;" /> <span style="font-weight: bold; font-size: 1em;">Broccoli</span><br /> 2 lbs at @item.Product.UnitPrice per @item.Product.UnitName.ToLower().
                </div>
            </li>
            /*
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#de_@item.Id').hide();
                    $('.toggle').click(function () {
                        $input = $(this);
                        $target = $('#' + $input.attr('data-toggle'));
                        $target.slideToggle();

                    });
                });
            </script>
              */
        }
        
    </ul>
    <div id="oreder_result" style=" color: #000;">
        <div>Voucher Code: <input type="text" /></div>
        <div id="subtotal" style="margin-top: 10px; float: right">Subtotal: $25.99</div><br /><br />
        <div id="total" style="float: right; font-weight: bold; color:#ff0000;">Total:  $25.99</div>
    </div>
</div>

<!-- script to show details of entry -->
<script type="text/javascript">
    $(document).ready(function () {
        //$('#' + $input.attr('id')).hide();
        $('.toggle').click(function () {
            $input = $(this);
            $target = $('#' + $input.attr('data-toggle'));
            $target.slideToggle();
        });
    });
</script>