@model CommonMarket.Web.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div class="container">

    <div class="row">
        <div class="col-md-3"></div>

        @*<h1 class="text-center login-title"><i class="icon-key" style="color:#ff0000"></i> Member Sign-in</h1>*@

        <div class="col-md-6">
            <div class="panel panel-default text-center" style="background-color: #FFF0E7; margin-top: 80px;">
                <div class="panel-heading" style="background-image: linear-gradient(to bottom, #F8B688 0%, #F38C59 100%);">
                    <h4><i class="fa fa-file-text-o" style="color:#5100ff;"></i> &nbsp; Member Registration</h4>
                </div>
                <div class="panel-body">
                   


                    <h5 style="text-align: left;">Please fill the form to create an account. All fields are required.</h5>
                    

                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <fieldset>
                            @*<div class="row">
                                <div class="center-block">
                                <img class="profile-img"
                                src="~/Content/Assets/Images/user_default.png" alt="">
                                </div>
                            </div>*@
                            <div class="row">
                                <div class="col-sm-12 col-md-10  col-md-offset-1 ">
                                    @Html.ValidationSummary("", new { @class = "text-danger" })
                                    <div class="form-group">
                                        <div class="input-group input-width" >
                                            <span class="input-group-addon">
                                                <i class="glyphicon glyphicon-envelope"></i>
                                            </span>
                                            @*<input class="form-control" placeholder="Username" name="loginname" type="text" autofocus style="height: 35px;">
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email", autofocus = "" })*@
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email", autofocus = "" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group input-width">
                                            <span class="input-group-addon">
                                                <i class="glyphicon glyphicon-lock"></i>
                                            </span>
                                            @*<input class="form-control" placeholder="Password" name="password" type="password" value="" style="height: 35px;">*@
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group input-width">
                                            <span class="input-group-addon">
                                                <i class="glyphicon glyphicon-lock"></i>
                                            </span>
                                            @*<input class="form-control" placeholder="Password" name="password" type="password" value="" style="height: 35px;">*@
                                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group input-width">
                                            <span class="input-group-addon">
                                                <i class="glyphicon glyphicon-user"></i>
                                            </span>
                                            @*<input class="form-control" placeholder="Password" name="password" type="password" value="" style="height: 35px;">*@
                                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "First Name" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group input-width">
                                            <span class="input-group-addon">
                                                <i class="glyphicon glyphicon-user"></i>
                                            </span>
                                            @*<input class="form-control" placeholder="Password" name="password" type="password" value="" style="height: 35px;">*@
                                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Last Name" })
                                        </div>
                                    </div>
                                    
                                    
                                    <div class="form-group">
                                        @*<div class="input-group" style="text-align: left">*@
                                        @*<span class="input-group-addon">
                                                <i class="glyphicon glyphicon-user"></i>
                                            </span>*@
                                        @*<input class="form-control" placeholder="Password" name="password" type="password" value="" style="height: 35px;">*@
                                        <div class="checkbox pull-left input-width">
                                            @Html.CheckBoxFor(model => model.Customer, new { @checked = "checked" })
                                            Register as Customer
                                        </div>&nbsp;&nbsp;&nbsp;
                                        <div class="checkbox pull-left" style="margin-left: 2em;">
                                            @Html.EditorFor(model => model.Supplier)
                                            Register as Supplier
                                        </div>
                                        @*</div>*@
                                    </div>
                                    <p></p>
                                    <div class="form-group">
                                        <div class="checkbox input-width" style="text-align: left; font-style: italic; float: left; font-weight:800;">
                                            @Html.CheckBoxFor(model => model.AcceptEULA)
                                            @*@Html.ValidationMessageFor(model => model.AcceptEULA)*@
                                            @*@Html.EditorFor(model => model.Supplier)*@
                                            @*By creating an account, you*@ I have read and accepted the <a href="">terms and conditions</a>
                                        </div><p></p>
                                    </div>
                                    

                                    <div class="form-group">
                                        <input type="submit" class="btn btn-lg btn-primary btn-block input-width" id="reg" value="Register" />
                                    </div>


                                    
                                    <a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
                                </div>
                            </div>

                        </fieldset>

                    }
                    


                </div>
            </div>
        </div>

        <div class="col-md-3"></div>
    </div>

</div>





























