@model CommonMarket.Core.Entities.Supplier

<table class="table table-user-information">
    <tbody>

        <tr>
            <td>Compay Name:</td>
            <td>

                <input id="m_comName" class="form-control" type="text" placeholder="Business Name" style="height: 35px; margin-bottom: -2px; margin-top: -5px;" value="@Html.DisplayFor(model=>model.CompnayName)" autofocus="">

            </td>
        </tr>
        <tr>
            <td>Contact First Name:</td>
            <td>

                <input id="m_conFname" class="form-control" type="text" placeholder="First Name" style="height: 35px; margin-bottom: -2px; margin-top: -5px;" value="@Html.DisplayFor(model=>model.ContactFirstName)" >

            </td>
        </tr>
        <tr>
            <td>Contact Last Name:</td>
            <td>

                <input id="m_conLname" class="form-control" type="text" placeholder="First Name" style="height: 35px; margin-bottom: -2px; margin-top: -5px;" value="@Html.DisplayFor(model=>model.ContactLastName)" >

            </td>
        </tr>
        <tr>
            <td>Contact Email:</td>
            <td>

                <input id="m_conEmail" class="form-control" type="text" placeholder="Email" style="height: 35px; margin-bottom: -2px; margin-top: -5px;" value="@Html.DisplayFor(model=>model.CompanyIconImgUrl)">

            </td>
        </tr>
        <tr>
            <td>Company Website:</td>
            <td>

                <input id="m_web" class="form-control" type="text" placeholder="Website Url" style="height: 35px; margin-bottom: -2px; margin-top: -5px;" value="@Html.DisplayFor(model=>model.SupplierWebSite)">

            </td>
        </tr>
        <tr>
            <td colspan="2">
                <form id="form" action="@Url.Content("/Profile/UpdateAvatarImg/")" method="post" enctype="multipart/form-data">
                    
                    <div class="modal-body">
                        <div class="pull-left" style="margin-left: -15px;">Upload comapny logo</div>
                        <input id="upload" type="file" name="file" class="pull-right" />
                    </div>
                    
                </form>
            </td>
        </tr>
        <tr>
            <td>Bio:</td>
            <td>
                <textarea id="m_bio" class="form-control" type="text" placeholder="Last Name" style="height: 35px; margin-bottom: -2px; margin-top: -5px;">@Html.DisplayFor(model => model.ShortBio)</textarea>
            </td>
        </tr>

        <tr>
            <td>Notes:</td>
            <td>
                <textarea id="m_notes" class="form-control" type="text" placeholder="Additional Notes" style="height: 35px; margin-bottom: -2px; margin-top: -5px;">@Html.DisplayFor(model => model.Notes)</textarea>
            </td>
        </tr>

    </tbody>
</table>


