@model CommonMarket.Core.Entities.Supplier


<table class="table table-user-information table-responsive">
    <tbody>
        <tr>
            <td>Merchant Compay Name:</td>
            <td>@Html.DisplayFor(model => model.CompnayName)</td>
        </tr>
        <tr>
            <td>Contact First Name:</td>
            <td>@Html.DisplayFor(model => model.ContactFirstName)</td>
        </tr>
        <tr>
            <td>Contact last Name:</td>
            <td>@Html.DisplayFor(model => model.ContactLastName)</td>
        </tr>
        <tr>
            <td>Contact Email</td>
            <td>@Html.DisplayFor(model => model.CompanyIconImgUrl)</td>
        </tr>
        <tr>
            <td>Company Website:</td>
            <td>@Html.DisplayFor(model => model.SupplierWebSite)</td>
        </tr>
        <tr>
            <td>Merchant Information</td>
            <td>@Html.DisplayFor(model => model.ShortBio)</td>
        </tr>
        <tr>
            <td>Company Logo</td>
            <td>
                @if ((@Model.CompanyLogoImgUrl) != null)
                {
                    <img src="@Url.Content(@Model.CompanyLogoImgUrl)" title="@Model.ContactFirstName"/>
                }
                else
                {
                    <em>No available</em>
                }
                
            </td>
        </tr>

    </tbody>
</table>
