@model IEnumerable<CommonMarket.Core.Entities.Product>

<div class="panel-body">
    <div id="thumb">
        <ul class="list-unstyled" style="margin-left: 0;">
            @foreach (var item in Model)
            {
                <li>
                    <div class="col-md-3 col-sm-4 col-xs-6 portfolio-item" style="height: 350px;">
                        <a href="@Url.Action("ProductDetails", "Product", new {id=@item.Id})">
                            <img class="img-responsive" src="@Url.Content(@item.ProductImgLargeUrl)" title="@item.ProductName">
                        </a>
                        <h3>
                            <a href="#">@item.ProductName</a>
                        </h3>
                        <h4 class="product_price" style="margin-top: 0; margin-bottom: 0;">@item.UnitPrice.ToString("c")/@item.UnitName.ToLower()</h4>
                        <p>
                            @if ((@item.ProductDescLong).Length > 45)
                            {
                                <span>@item.ProductDescLong.Substring(0, 40)  <a href="#">&nbsp;more...</a></span>
                            }
                            else
                            {
                                @item.ProductDescLong
                            }
                        </p>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <em>Quantity:</em> <input type="text" id="qty_m_@item.Id" style="display: inline-block;width: 35px;height: 25px;vertical-align: baseline;" value="1" title="Quantity" /> if (@item.UnitName == "Each")
                             {
                                <em>unit</em>
                             }
                             else
                             {
                                <em>@item.UnitName.ToLower()</em>
                             }
                            <a class="btn btn-success" href="#" id="add_m_@item.Id"><span class="glyphicon glyphicon-shopping-cart"></span> Add to Cart <span class="glyphicon glyphicon-chevron-right"></span></a>
                        }
                        else
                        {
                            <a href="@Url.Content("~/Account/Login?returnUrl=/Merchant/MerchantDetails/" + @ViewBag.MerchantId)" type="button" class="btn btn-warning">
                                <span class="glyphicon glyphicon-lock"></span>&nbsp;Login to Buy
                            </a>
                        }
                        
                    </div>
                </li>
            }
            
            
        </ul>
    </div>



    <div id="list">
        <ul class="list-unstyled" style="margin-left: 0;">
            @foreach (var item in Model)
            {
                <li style="overflow: hidden;">
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <a href="@Url.Action("ProductDetails", "Product", new {id=@item.Id})">
                            <img class="img-responsive" src="@Url.Content(@item.ProductImgLargeUrl)" title="@item.ProductName">
                        </a>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-9">
                        <h4 style="margin-top: 0; margin-bottom: 0;">@item.ProductName</h4>
                        <h4 class="product_price" style="margin-top: 0; margin-bottom: 0;">@item.UnitPrice.ToString("c")/@item.UnitName</h4>
                        <p>@item.ProductDescLong</p>
                         @if (User.Identity.IsAuthenticated)
                         {
                            <em>Quantity:</em> <input type="text" id="qty_l_@item.Id" style="display: inline-block;width: 35px;height: 25px;vertical-align: baseline;" value="1" title="Quantity" /> if (@item.UnitName == "Each")
                             {
                                <em>unit</em>
                             }
                             else
                             {
                                <em>@item.UnitName.ToLower()</em>
                             }
                            <a class="btn btn-success" href="#" id="add_l_@item.Id"><span class="glyphicon glyphicon-shopping-cart"></span> Add to Cart <span class="glyphicon glyphicon-chevron-right"></span></a>
                         }
                         else
                         {
                            <a href="@Url.Content("~/Account/Login?returnUrl=/Merchant/MerchantDetails/" + @ViewBag.MerchantId)" type="button" class="btn btn-warning">
                                <span class="glyphicon glyphicon-lock"></span>&nbsp;Login to Buy
                            </a>
                         }
                        
                    </div>
                </li>
            }
            
            
        </ul>
    </div>


</div>
